<mat-toolbar color="primary">
  <div>
    <button (click)="onNavigate('/')" id="home" mat-fab color="primary" aria-label="Example icon button with a home icon">
      <mat-icon>home</mat-icon>
    </button>
  </div>
    <span>{{ title }}</span>

    <span class="example-spacer"></span>

    <div id="div_navbar">
      <ul id="ul_navbar">
        <li><a routerLink="/chat"
               routerLinkActive="active"
               ariaCurrentWhenActive="page">Chat</a></li>
        <li><a routerLink="/features"
               routerLinkActive="active"
               ariaCurrentWhenActive="page">Features</a></li>
        <li><a routerLink="/about-us"
               routerLinkActive="active"
               ariaCurrentWhenActive="page">About Us</a></li>
        <li *ngIf="!accountService.isLoggedIn">
          <button
             class="login-btn"
             type="submit"
             (click)="onNavigate('/login')"
          >
            Sign In
          </button>
        </li>
        <li *ngIf="accountService.isLoggedIn" >
          <button
            class="login-btn"
             type="submit"
             (click)="handleLogout()"
          >
            Sign Out
          </button>
        </li>
      </ul>
    </div>
</mat-toolbar>
