.primary {
  color: white;
  background-color: #007bff;
}

#title {
  padding-left: 10px;
  font-size: larger;
}

.logo-link {
  display: inline-flex;
  align-items: center;
  height: 40px;
}

.logo {
  height:  100%;
  width: auto;
}

.nav-link {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color:white;
  height: 25px;
  width: 100px;
  padding: 10px;
  text-decoration: none;
}

#home-link {
  display: flex;
  align-items: center;
  color:white;
  height: 40px;
  width: 130px;
  padding: 10px;
  text-decoration: none;
}

.nav-link:hover {
  background: #016fe8;
  border-radius: 10px;
}

.active {
  background: #016ae1;
  border-radius: 10px;
}

.login-btn {
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
  /*margin: 5px;*/
  height: 44px;
  color: #007bff;
  background: white;
  font-size: large;
  font-weight: bolder;
  border-radius: 10px;
  border: none;
  width: 90px
}

.login-btn:hover {
  cursor: pointer;
  display: flex;
  text-align: center;
  justify-content: center;
  background: #007bff;
  color: white;
  border: solid white;
  border-radius: 10px;
}

.example-spacer {
  flex: 1 1 auto;
}

#div_navbar {
  display: inline;
}

#ul_navbar li{
  /*margin: 10px 10px 10px 10px;*/
  margin: 7px 7px 7px 7px;
  display: inline-block;
}

#home {
  background-color: #007bff;
  margin-left: 8px;
  margin-right: 20px;
}
