html {
  scroll-behavior: smooth;
}

h1 {
  padding-left: 12px;
  padding-bottom: 20px;
}

h3 {
  padding-left: 40px;
  color: #007bff;
}

/*.primary-color-btn {
  background-color: #007bff;
}*/

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}

.messages-container {
  width: 100%;
  padding: 20px;
  background-color: #f5f5f5;
  overflow-y: auto;
  flex: 1;
}
.no-more {
  text-align: center;
  margin-top: 20px;
}

ul {
  list-style-type: none;
}

li {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-div {
  display: flex;
  flex-direction: column;
  padding: 12px;
  justify-content: center;
  align-items: center;
}

.conversations {
  width: 95%;
}

.conversation-skeleton {
  width: 95%;
}

#center-div {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#chat-btn {
  margin: 30px;
  background-color: #007bff;
  color: #ffffff;
}

.no-content {
  color: darkgray;
  padding-left: 12px;
  padding-bottom: 10px;
}

.input {
  margin: 12px;
  width: 85%;
}

#send-message-input {
  margin-top: 12px;
  margin-left: 12px;
  width: 92%;
  --mdc-filled-text-field-caret-color: #007bff !important;
  --mdc-filled-text-field-focus-active-indicator-color: #007bff !important;
  --mdc-filled-text-field-focus-label-text-color: #007bff !important;
}

.send-btn-container {
  margin-right: 10px;
  margin-bottom: 15px;
}

.send-btn {
  color: white;
  background-color: #007bff;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
}

.popup {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.3s ease-in-out;
  position: relative;
}

.input {
  --mdc-filled-text-field-caret-color: #007bff !important;
  --mdc-filled-text-field-focus-active-indicator-color: #007bff !important;
  --mdc-filled-text-field-focus-label-text-color: #007bff !important;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

#close-div {
  padding-left: 10px;
  padding-bottom: 50px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20%);
  }
  to {
    transform: translateY(0);
  }
}

.primary-btn {
  background-color: #007bff !important;
  color: white !important;
}

.primary-btn:hover {
  background: #007bff;
  color: white;
}

#update-conversation-btn {
  background-color: #007bff;
  color: white;
  margin-left: 20px;
}

#delete-conversation-btn {
  margin: 14px;
}

.down-btn-container {
  /*display: flex;
  float: right;
  padding-right: 35px;*/
  position: absolute;
  bottom: 55px; /* Adjust as needed */
  right: 40px; /* Adjust as needed */
  z-index: 9999; /* Ensure it's above other content */
}

.close-btn-container {
  /*display: flex;
  float: right;
  padding-right: 35px;*/
  position: absolute;
  bottom: 394px; /* Adjust as needed */
  right: 5px; /* Adjust as needed */
  z-index: 9999; /* Ensure it's above other content */
}

.close-btn {
  background-color: white;
}

.down-btn {
  background-color: #f9f9f9;
}

.chat-box {
  display: flex;
  flex-direction: column;
  /*max-width: 320px;
  min-width: 300px;*/
  width: 100%;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
  background-color: #fff;
}

#recipient-container {
  padding-left: 40px;
}

.chat-box-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
}


.message {
  margin-bottom: 12px;
  padding: 8px 10px;
  border-radius: 20px;
  display: inline-block;
  max-width: 70%;
}

.current_user {
  background-color: #007bff;
  color: #ffffff;
  margin-left: auto;
  text-align: right;
}

.other_user {
  background-color: #e9ecef;
  color: #333;
}

/*.chat-box-input {
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #eee;
}

.chat-box-input input {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}*/

