<div>
  <div class="header">
    <h3>Your chats</h3>
    <button id="chat-btn" mat-flat-button (click)="onClick()">Start a new chat +</button>
  </div>
  <div id="main-div">
    <p *ngIf="conversations.length === 0 && !loading" class="no-content">Don't see your chat? Try refreshing the page or contact the support.</p>
    <ul class="conversations" *ngIf="conversations.length > 0">
      <li *ngFor="let conversation of conversations" (click)="selectConversation(conversation)">
        @if (this.user.username !== conversation.users[1].username) {
          <p><b>Chat {{ conversation.id }} with {{ conversation.users[1].username }}:</b> {{ conversation.title }}</p>
        } @else {
          <p><b>Chat {{ conversation.id }} with {{ conversation.users[0].username }}:</b> {{ conversation.title }}</p>
        }
        <mat-divider></mat-divider>
      </li>
    </ul>
    <div *ngIf="loading" class="conversation-skeleton">
        <ngx-skeleton-loader count=20 appearance="line"/>
    </div>
    <!--<div *ngIf="loading" class="loading">
      Loading...
    </div>-->
  </div>
  <!--<div *ngIf="!hasMoreConversations && !loading" class="no-more">
    No more chats
  </div>-->
  <div class="chat-box" *ngIf="selectedConversation">
    <h3>{{ selectedConversation.title }}</h3>
    <p *ngIf="selectedConversation.messages.length === 0" class="no-content">No messages yet.</p>
    <div class="chat-box-messages" id="chat-messages" (scroll)="onScroll()" #scrollableDiv>
      <ul *ngIf="selectedConversation.messages.length > 0">
        <li *ngFor="let message of selectedConversation.messages">
          @if (this.user.username !== message.sender_username) {
            <div [ngClass]="['message', 'other_user']"><p><b>{{message.sender_username}}:</b> {{message.content}}</p><span>{{message.sent_at}}</span></div>
          } @else {
            <div [ngClass]="['message', 'current_user']"><p><b>{{message.sender_username}}:</b> {{message.content}}</p><span>{{message.sent_at}}</span></div>
          }
        </li>
      </ul>
    </div>
    <div class="down-btn-container">
    @if (this.isNotBottom) {
        <button mat-icon-button class="down-btn" (click)="handleScrollToBottom()">
          <mat-icon>keyboard_double_arrow_down</mat-icon>
        </button>
    }
    </div>
    <div>
      <form class="header" [formGroup]="messageForm" (ngSubmit)="sendMessage()">
        <mat-form-field id="send-message-input">
          <mat-label>Send a message:</mat-label>
          <input type="text" matInput formControlName="content" placeholder="message">
          @if (messageForm.controls['content'].hasError('required') && messageForm.controls['content'].touched) {
            <mat-error>Enter a message first!</mat-error>
          }
        </mat-form-field>
        <div class="send-btn-container">
          @if (messageForm.dirty) {
            <button class="send-btn" type="submit" mat-icon-button [disabled]="!messageForm.valid">
              <mat-icon>send</mat-icon>
            </button>
          }
        </div>
      </form>
      <button (click)="openUpdateDialog()" mat-flat-button id="update-conversation-btn">Update conversation</button>
      <button (click)="openDeleteDialog()" id="delete-conversation-btn" mat-flat-button color="warn">Delete conversation</button>
    </div>
  </div>
</div>

<!--Popup-->

<!--Add some kind of header-->
<div *ngIf="showPopup" class="popup-overlay">
  <div class="popup">
        <div id="close-div">
          <button class="close-btn" mat-icon-button (click)="closePopup()">
            <!--Close-->
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <form [formGroup]="conversationForm" (ngSubmit)="startConversation()">
          <mat-form-field class="input">
            <mat-label>Chat Title</mat-label>
            <input type="text" matInput formControlName="title" placeholder="Title">
            @if (conversationForm.controls['title'].hasError('required')) {
              <mat-error>Title field is required</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="input">
            <mat-label>Who do you want to chat with?</mat-label>
            <input type="text" matInput formControlName="recipient_user" placeholder="Start a conversation with:">
            @if (conversationForm.controls['recipient_user'].hasError('required')) {
              <mat-error>Recipient username field is required</mat-error>
            }
            <!--TODO: add error message when user doesn't exist-->
          </mat-form-field>
          <button type="submit" mat-flat-button class="primary-btn" [disabled]="!conversationForm.valid">Create</button>
        </form>
  </div>
</div>
