.form-div {
  /*margin: auto;*/
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.submit-div {
  padding: 10px;
}

.sign-in-btn {
  width: 125px;
}

#submit-error {
  padding-top: 9px;
  padding-bottom: 9px;
}

#register-link {
  color: deepskyblue;
  text-decoration: underline;
}
