.form-div {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
  color: #007bff;
}

.input {
  --mdc-filled-text-field-caret-color: #007bff !important;
  --mdc-filled-text-field-focus-active-indicator-color: #007bff !important;
  --mdc-filled-text-field-focus-label-text-color: #007bff !important;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  --mdc-filled-text-field-caret-color: #007bff !important;
  --mdc-filled-text-field-focus-active-indicator-color: #007bff !important;
  --mdc-filled-text-field-focus-label-text-color: #007bff !important;
  width: 100%;
}

.submit-div {
  padding: 10px;
}

#sign-in-btn {
  background-color: #007bff;
  font-weight: bold;
  color: white;
  width: 100%;
}

#sign-in-btn:hover {
  background-color: #007bff;
  font-weight: bold;
  color: white;
  width: 100%;
}

#sign-in-btn:disabled {
  background-color: white;
  font-weight: bold;
  border: solid #007bff;
  color: #007bff;
  width: 100%;
}

#submit-error {
  padding-top: 9px;
  padding-bottom: 9px;
}

#register-link {
  color: deepskyblue;
  text-decoration: underline;
}
