<div class="form-div">
  <h2>Sign in to Chatify</h2>
  <form [formGroup]="form" class="example-form" (ngSubmit)="onSubmit()" >
    <div id="input-container">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher"
             placeholder="Ex. pat@example.com"
      >
      <mat-hint>Please enter your email address.</mat-hint>
      @if (!form.controls['email'].hasError('required')) {
        <mat-error>Please enter a valid email address</mat-error>
      }
      @if (form.controls['email'].hasError('required')) {
        <mat-error>Email is <strong>required</strong></mat-error>
      }
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input type="password" formControlName="password" matInput [errorStateMatcher]="matcher"
             placeholder="password">
      <mat-hint>Please enter your password.</mat-hint>
      @if (form.controls['password'].hasError('required')) {
        <mat-error>Password is <strong>required</strong></mat-error>
      }
      @if (form.controls['password'].hasError('minlength')) {
        <mat-error>The password field must be at least 8 characters.</mat-error>
      }
      @if (form.controls['password'].hasError('unauthenticated')) {
        <mat-error>Email or password incorrect</mat-error>
      }
    </mat-form-field>
    </div>
    <div class="submit-div">
      <button id="sign-in-btn" mat-flat-button type="submit" [disabled]="!form.valid || loading">Submit</button>
    </div>
    <div id="submit-error">
      @if ( message ) {
        <mat-error>{{ message }}</mat-error>
      }
    </div>
    Don't have an account? <a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page" id="register-link">Register!</a>
  </form>
</div>
