.main-div {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.submit-div {
  padding: 10px;
}

#sign-in-link {
  color: deepskyblue;
  text-decoration: underline;
}
