<div class="main-div">
  <div class="form-div">
    <h2>Register</h2>
    <form [formGroup]="form" class="example-form" (ngSubmit)="onSubmit()" >
      <mat-form-field class="example-full-width">
        <mat-label>First Name</mat-label>
        <input type="text" formControlName="first_name" matInput [errorStateMatcher]="matcher"
               placeholder="ex. John">
        <mat-hint>Please enter your first name.</mat-hint>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Last Name</mat-label>
        <input type="text" formControlName="last_name" matInput [errorStateMatcher]="matcher"
               placeholder="ex. Doe">
        <mat-hint>Please enter your last name.</mat-hint>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input type="text" formControlName="username" matInput [errorStateMatcher]="matcher"
               placeholder="username">
        <mat-hint>Please enter your username that will be associated with this account.</mat-hint>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher"
               placeholder="Ex. pat@example.com"
        >
        <mat-hint>Please enter your email address.</mat-hint>
        @if (form.controls['email'].hasError('email') && !form.controls['email'].hasError('required')) {
          <mat-error>Please enter a valid email address</mat-error>
        }
        @if (form.controls['email'].hasError('required')) {
          <mat-error>Email is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input type="password" formControlName="password" matInput [errorStateMatcher]="matcher"
               placeholder="password">
        <mat-hint>Please enter your password.</mat-hint>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Confirm Password</mat-label>
        <input type="password" formControlName="password_confirmation" matInput [errorStateMatcher]="matcher"
               placeholder="password">
        <mat-hint>Confirm your password.</mat-hint>
      </mat-form-field>
      <div class="submit-div">
        <button class="sign-in-btn" mat-flat-button color="primary" type="submit">Submit</button>
      </div>
      Already have an account? <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" id="sign-in-link">Sign in!</a>
    </form>
  </div>

</div>
